<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>乙物語 ～ Otsumonogatari ～</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header><h1>乙物語 ～ Otsumonogatari ～</h1><hr></header>
<main>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</main>
<footer><hr><small>乙物語 ～ Otsumonogatari ～</small></footer>
</body>
</html>
