{% extends "base.html" %}
{% block content %}

<h2>ダッシュボード</h2>

  <p><strong>作業データをアップロードする</strong></p>

  <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" required>
      <button type="submit">データアップロード</button>
  </form>

  <h3>作品一覧</h3>

  {% if documents %}
    <ul>
    {% for d in documents %}
      <li>
        <a href="/document/{{ d.id }}">{{ d.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>まだ作品がありません。</p>
  {% endif %}

  <h3>新規作成</h3>
  <form action="/document/create" method="post">
      <input name="title" placeholder="タイトル" required>
      <select name="doc_type">
          {% for doc_type in doc_types %}
          <option value="{{ doc_type }}">{{ doc_type }}</option>
          {% endfor %}
      </select>
      <button type="submit">新規作成</button>
  </form>


<hr>
<a href="/logout">ログアウト</a>

{% endblock %}
